* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Montserrat', 'Franklin Gothic Medium', sans-serif;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 20px;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.logo span {
    font-size: 30px;
    font-weight: bold;
}

.logo:hover {
    color: #ffffff;
}

.tabcontent {
    animation: fade-in 0.5s ease;
}

#imagepicker {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#imagepicker .icon {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer;
}

#imagepicker .icon:hover {
    border: 3px solid #000;
    background: black;
    color: white;
}

#image-frame {
    border: none;
    box-shadow: 2px 2px 15px rgb(212, 212, 212);
    border-radius: 5px;
    overflow: hidden;
}

.img-display {
    height: 400px;
}

.color-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    box-shadow: 2px 2px 15px rgb(212, 212, 212);
    padding: 20px;
    gap: 10px
}

.color-display h3 {
    text-align: center;
    font-size: small;
}

.color-display section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.colors .picked-color {
    width: 60px;
    height: 30px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(212, 212, 212);
    height: 60px;
}

.values {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    width: 300px;
}

.values .value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 3px;
    padding: 10px;
    font-size: small;
}

.value span {
    cursor: pointer;
    transition: all 0.2s;
}

.value span:hover {
    color: rgb(141, 141, 141);
}

.color-display label {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 7px;
    background: rgb(0, 0, 0);
    color: white;
    width: 150px;
    align-self: center;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.color-display label:hover {
    background: rgb(202, 202, 202);
    color: black
} 

.color-display input {
    display: none;
}

#notif {
    border: none;
    border-radius: 5px;
    background: var(--theme-color);
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 20px;
    width: 300px;
    animation: fade-and-slide-in 0.5s ease;
}

:root{
    --theme-color: rgb(189, 189, 189);
}

@keyframes fade-in { 
    from { opacity: 0; } 
    to { opacity: 1; } 
} 

@keyframes fade-and-slide-in { 
    from { opacity: 0; transform: translateY(100%); } 
    to { opacity: 1; transform: translateY(0); } 
} 
